<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooperflora - Consumidores</title>
</head>
<body>
    <h1>Lista de Consumidores</h1>

    <table>
        <tr>
           <td>Id</td>
           <td>Nome</td>
           <td>Email</td>
           <td>Telefone</td>
           <td>Tipo</td>
        </tr>
        <% for(let i=0; i<usuario.length; i++) { %>
        <tr>
            <td><%= usuario[i].IDUSUARIO %></td>
            <td><%= usuario[i].NOME %></td>
            <td><%= usuario[i].EMAIL %></td>
            <td><%= usuario[i].TELEFONE %></td>
            <td><%= usuario[i].TIPO %></td>
        </tr>
        <% } %>
    </table>
</body>
</html>